header {
    background-color: rgba(0, 0, 0, 0);
    color: rgb(0, 40, 238);
}

.navbar {
    background-color: rgba(206, 41, 49, 0) !important;
}

.navbar .container {
    background-color: rgba(0, 0, 0, 0) !important;
}

.navbar .container .navbar-brand {
    color: rgb(0, 42, 255);
}

.navbar .container .navbar-nav .nav-link {
    color: rgb(0, 42, 255);
    border-radius: 18px;
    padding: 8px 16px;
}

.navbar .container .navbar-nav .nav-link.active {
    background-color: rgb(55, 3, 245) !important;
    color: white !important;
}